
body {
    width:850px;    
    margin:auto;
    background:#222;
    margin-top:5em;
}

div#content {
   border: 1px navy solid;
   background:white;   
   padding:2em;
   border-top: 1px white solid;
   border-right: 1px white solid;
   border-left: 1px white solid;
   -moz-border-radius-bottomleft:1em;
   -moz-border-radius-bottomright:1em;
}

div#special {
    color:white !important;
    text-align:right;
    border-top: 1px white solid;
    border-right: 1px white solid;
    border-left: 1px white solid;
    font-size:small;
    padding:1em 0.3em 0.3em 0 ;
    -moz-border-radius-topleft:1em;
    -moz-border-radius-topright:1em;
}

div#special a {
    color:white;
}

div.description {
    display:none;
}


div#sqlpreview {
    border: 1px #222 dotted;
    background: #eee;
    font-family:monospace;
    font-size:small;
    margin:2em;
    white-space: pre;
}

div#exec table  {
    border-collapse: collapse;
    border 1px #222 solid;
    font-size:xx-small;
}
div#exec table th {
    background:#222;
    color:white;
    text-align:left;
    border-collapse: collapse;
}

div#exec table td {
    border: 1px #eee solid;
    border-top:1px #222 solid;
    border-collapse: collapse;
}

button {
    float:right;
}

h1 {
    color:white;
    border-bottom: thick black solid;
    line-height:80%;
}

h2 {
    border-bottom: thick black solid;
}

select {
    display:block;
    width:100%;
}



.notvalid {
    background:red;
}

.valid {
    background:green;
}
